:root {
    /* ===========================================
       1) Base Styling
    =========================================== */
    font-family: "Nunito Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    /* ===========================================
       2) Light/Dark Color Scheme Support
    =========================================== */
    color-scheme: light dark;


    /* ===========================================
       3) Color Variables
         (Grayscale, Brand, Background)
    =========================================== */
    /* -- Grayscale */
    --grayscale-100: rgb(255, 255, 255);
    --grayscale-150: #f3f4f6;
    --grayscale-200: #e5e7eb;
    --grayscale-300: #d1d5db;
    --grayscale-400: #9ca3af;
    --grayscale-500: #6b7280;
    --grayscale-700: #4b5563;

    /* -- Brand/Theme Colors */
    --purple-normal: #4f46e5;
    --purple-light: #eef2ff;
    --purple-darker: #4338ca;
    --green-normal: #059669;
    --green-light: #ecfdf5;
    --blue-normal: #2563eb;
    --blue-light: #ecfdf5;

    /* -- Background */
    --background-light-light: #ffffff;
    --background-light-dark: #f9fafb;
    --background-dark-light: #1f2937;
    --background-dark-dark: #111827;

    --background-light: var(--background-light-light);
    --background-dark: var(--background-light-dark);



    /* ===========================================
       4) Used / Mapped Colors
    =========================================== */
    --primary-color: var(--purple-normal);
    --secondary-color: var(--blue-normal);
    --accent-color-one: var(--green-normal);


    --light-text-color: var(--grayscale-100);
    --medium-text-color: var(--grayscale-400);
    --medium-dark-text-color: var(--grayscale-500);
    --dark-text-color: var(--grayscale-700);
    --text-color-dark: var(--dark-text-color); /* Fallback reference */
    --text-color-medium-dark: var(--medium-dark-text-color);

    /* Default to light-mode values here; overridden in dark mode */
    --background-color: var(--background-light-dark);
    --modal-background-color: var(--background-light-light);
    --option-select-background: lightgrey;
    --option-select-background-hover: #f4f4f4;
    --header-background: var(--background-light-light);

    --input-background-color: var(--background-color);

    /* Other color variables */
    --focus-color: var(--primary-color);
    --border-color-extra-light: var(--grayscale-150);
    --border-color-light: var(--grayscale-200);
    --border-color-dark: #374151;
    --border-color: var(--border-color-light);
    --light-border-color: var(--border-color-extra-light);
    --delete-red: #fd5858;
    --delete-red-light: #ffeeee;
    --success-green: green;
    --info-yellow: yellow;
    --placeholder-color: var(--grayscale-500);

    /* Header/Footer/Links */
    --header-text-color: var(--text-color-dark);
    --link-color: var(--purple-normal);
    --tooltip-background-color: var(--modal-background-color);
    --tooltip-text-color: var(--text-color-dark);
    --footer-background-color: var(--header-background);


    /* ===========================================
       5) Transitions
    =========================================== */
    --transition-normal: all 300ms;
    @media (prefers-reduced-motion) {
        --transition-normal: none;
    }


    /* ===========================================
       6) Buttons
    =========================================== */
    --primary-button-background: var(--primary-color);
    --primary-button-hover-background: var(--purple-darker);
    --primary-button-text: var(--light-text-color);
    --primary-button-hover-border: none;

    --secondary-button-background: var(--secondary-color);
    --secondary-button-hover-background: var(--green-light);
    --secondary-button-text: var(--light-text-color);
    --secondary-button-border: none;

    --ghost-button-border-color: var(--border-color-light);
    --ghost-button-text-color: var(--dark-text-color);

    --link-button-hover-background: transparent;
    --link-button-hover-background: var(--purple-light);
    --link-button-text: var(--grayscale-400);
    --link-button-hover-text: var(--grayscale-500);

    --button-box-shadow: var(--shadow-1-soft);
    --button-box-shadow-hover: var(--shadow-2-soft);


    /* ===========================================
       7) Typography & Layout
    =========================================== */
    --font-family: 'Lato';
    --heading-font-family: 'lato';
    --body-font-family: 'lato';

    --font-size-x-small: 0.8rem;
    --font-size-small: 0.9rem;
    --font-size-normal: 1rem;
    --font-size-medium: 1.125rem;
    --font-size-large: 1.4rem;
    --font-size-x-large: 2rem;
    --font-size-xx-large: 3rem;

    --border-radius-small: 3px;
    --border-radius-normal: 8px;
    --border-radius-large: 16px;

    --spacing-large: 60px;
    --spacing-normal: 20px;
    --spacing-small: 10px;
    --spacing-x-small: 5px;

    --max-content-width: 1400px;
    --small-breakpoint: 450px;
    --medium-breakpoint: 768px;
    --large-breakpoint: 1024px;


    /* ===========================================
       8) Shadows
    =========================================== */
    /*
  LEVEL 1
  Slight lift, minimal blur
*/
    /*
   The main shadow colors for the "Umbra" and "Penumbra"
   in Light Mode. The Umbra is darker and more opaque,
   while the Penumbra is lighter and more diffuse.
 */
    --color-shadow-umbra: 0deg 0% 0% / 0.20;    /* Black @ 20% opacity */
    --color-shadow-penumbra: 0deg 0% 0% / 0.06; /* Black @ 6% opacity */

    --shadow-0-soft:
            0 1px 2px -1px rgba(0, 0, 0, 0.08),
            0 1px 3px -1px rgba(0, 0, 0, 0.05);

        /* Level 1 – Subtle, low elevation */
    --shadow-1-soft:
            0 1px 3px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.08),
            0 4px 8px -2px rgba(0, 0, 0, 0.06);

    /* Level 2 – A bit more depth with extra layers */
    --shadow-2-soft:
            0 2px 4px -1px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.09),
            0 6px 8px -3px rgba(0, 0, 0, 0.08),
            0 10px 15px -3px rgba(0, 0, 0, 0.1);

    /* Level 3 – Noticeable elevation with refined layering */
    --shadow-3-soft:
            0 3px 5px -1px rgba(0, 0, 0, 0.11),
            0 6px 8px -2px rgba(0, 0, 0, 0.10),
            0 10px 12px -3px rgba(0, 0, 0, 0.11),
            0 14px 18px -4px rgba(0, 0, 0, 0.12);

    /* Level 4 – Elevated, with extra nuance and softness */
    --shadow-4-soft:
            0 4px 6px -1px rgba(0, 0, 0, 0.12),
            0 8px 10px -2px rgba(0, 0, 0, 0.11),
            0 12px 16px -3px rgba(0, 0, 0, 0.12),
            0 16px 20px -4px rgba(0, 0, 0, 0.13);

    /* Level 5 – The highest elevation with complex, multi-layered depth */
    --shadow-5-soft:
            0 6px 8px -1px rgba(0, 0, 0, 0.13),
            0 10px 14px -2px rgba(0, 0, 0, 0.12),
            0 14px 18px -3px rgba(0, 0, 0, 0.13),
            0 18px 24px -4px rgba(0, 0, 0, 0.14),
            0 22px 28px -5px rgba(0, 0, 0, 0.12);




    --tile-box-shadow: var(--shadow-1-soft);

    --fab-size: 60px;
}

/* ===========================================
   9) Base Body Styles
=========================================== */
body {
    margin: 0;
    overflow-x: hidden;
    background: var(--background-color);
    color: var(--text-color-dark);
}

/* ===========================================
   10) Dark Mode Overrides
=========================================== */
body[data-mode="dark"] {
    --background-color: var(--background-dark-dark);
    --background-light: var(--background-dark-light);
    --background-dark: var(--background-dark-dark);
    --border-color: var(--border-color-dark);
    --modal-background-color: var(--background-dark-light);

    --option-select-background: #000000;
    --option-select-background-hover: #4a4a4a;
    --input-background-color: var(--background-color);


    /* Flip text colors in dark mode */
    --text-color-light: var(--dark-text-color);
    --text-color-dark: var(--light-text-color);
    --text-color-medium-dark: var(--medium-dark-text-color);
    --header-background: var(--background-dark-light);

    /* ===========================================
       6) Buttons
    =========================================== */
    --link-button-hover-background: transparent;
    --link-button-hover-background: #374151;
    --link-button-text: var(--grayscale-400);
    --link-button-hover-text: var(--grayscale-300);

    /* ===========================================
           8) Shadows
        =========================================== */
    --color-shadow-umbra: 0deg 0% 0% / 0.40;     /* Black @ 40% opacity */
    --color-shadow-penumbra: 0deg 0% 0% / 0.16;  /* Black @ 16% opacity */
}
