:root {
    /* Base styling */
    font-family: Lato, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Support both light and dark color schemes */
    color-scheme: light dark;

    /* ===========================================
       1) Core Colors & Basic Variables
       =========================================== */
    /* Grayscale Design palette: https://grayscale.design/app?lums=97.40,92.33,83.88,70.37,49.35,28.33,14.82,6.37,1.30&palettes=%23000000,%23F6F5F9,%23FFF2CD,%23F8B8C5,%23ADE4C7,%239C8ADE&filters=0%7C0,0%7C0,0.2%7C-15.5,0%7C-6.1,0%7C-2,0.2%7C-7.7&names=,Neutral,sunny%20yellow,pink,mint,lavender&labels=,,,,, */
/*// Grayscale Design palette: https://grayscale.design/app?lums=97.40,92.33,83.88,70.37,49.35,28.33,14.82,6.37,1.30&palettes=%23000000,%23FFF2CD,%23F8B8C5,%23ADE4C7,%239C8ADE&filters=0%7C0,0.2%7C-15.5,0%7C-6.1,0%7C-2,0.2%7C-7.7&names=Neutral,yellow,pink,mint,lavender&labels=,,,,*/

    --grayscale-100: rgb(252, 252, 252);
    --grayscale-200: rgb(246, 245, 249);
    --grayscale-300: rgb(202, 216, 227);
    --grayscale-400: rgb(236, 233, 241);
    --grayscale-500: rgb(196, 196, 196);
    --grayscale-600: rgb(145, 145, 145);
    --grayscale-700: rgb(107, 107, 107);
    --grayscale-800: rgb(42, 42, 52);
    --grayscale-900: rgb(30, 30, 36);

    --yellow-100: rgb(254, 252, 247);
    --yellow-200: rgb(255, 246, 220);
    --yellow-300: rgb(250, 235, 195);
    --yellow-400: rgb(238, 217, 160);
    --yellow-500: rgb(211, 184, 109);
    --yellow-600: rgb(167, 143, 75);
    --yellow-700: rgb(117, 107, 74);
    --yellow-800: rgb(74, 71, 64);
    --yellow-900: rgb(30, 30, 30);

    --pink-100: rgb(254, 251, 252);
    --pink-200: rgb(253, 244, 246);
    --pink-300: rgb(251, 231, 235);
    --pink-400: rgb(249, 208, 216);
    --pink-500: rgb(246, 164, 180);
    --pink-600: rgb(234, 101, 127);
    --pink-700: rgb(206, 36, 70);
    --pink-800: rgb(104, 60, 69);
    --pink-900: rgb(58, 15, 24);

    --mint-100: rgb(249, 253, 251);
    --mint-200: rgb(238, 249, 243);
    --mint-300: rgb(217, 242, 228);
    --mint-400: rgb(178, 230, 202);
    --mint-500: rgb(110, 205, 155);
    --mint-600: rgb(60, 163, 108);
    --mint-700: rgb(46, 121, 81);
    --mint-800: rgb(32, 80, 55);
    --mint-900: rgb(14, 34, 23);

    --lavender-100: rgb(252, 252, 253);
    --lavender-200: rgb(246, 246, 249);
    --lavender-300: rgb(237, 235, 245);
    --lavender-400: rgb(221, 215, 238);
    --lavender-500: rgb(191, 180, 229);
    --lavender-600: rgb(152, 132, 220);
    --lavender-700: rgb(113, 90, 197);
    --lavender-800: rgb(76, 58, 137);
    --lavender-900: rgb(32, 26, 52);

    --light-background-color: var(--grayscale-200);
    --dark-background-color: #1E1E24;
    --modal-light-background-color: #ffffff;
    --modal-dark-background-color: #2A2A34;

    /* ===========================================
       2) Used Colors
       =========================================== */
    --primary-color: var(--lavender-600);
    --secondary-color: var(--mint-500);
    --accent-color-one: var(--yellow-200);
    --accent-color-two: var(--pink-500);
    --background-color: light-dark(var(--light-background-color), var(--dark-background-color));
    --modal-background-color: light-dark(var(--modal-light-background-color), var(--modal-dark-background-color));

    --option-select-background: light-dark(lightgrey, #000000);
    --option-select-background-hover: light-dark(#f4f4f4, #4a4a4a);


    --focus-color: var(--primary-color);
    --border-color: var(--grayscale-300);
    --delete-red: #fd5858;
    --success-green: var(--mint-600);
    --info-yellow: var(--yellow-500);
    --light-text-color: var(--grayscale-100);
    --dark-text-color: var(--grayscale-900);
    --text-color-light: light-dark(var(--light-text-color), var(--dark-text-color));
    --text-color-dark: light-dark(var(--dark-text-color), var(--light-text-color));
    --placeholder-color: var(--grayscale-600);
    --header-background: light-dark(var(--grayscale-300), var(--grayscale-800));
    --header-text-color: var(--text-color-dark);
    --link-color: var(--lavender-800);



    --tooltip-background-color: var(--modal-background-color);
    --tooltip-text-color: var(--text-color-dark);

    --footer-background-color: light-dark(var(--grayscale-400) ,var(--grayscale-800));

    /* ===========================================
        2) Buttons
   =========================================== */
    --primary-button-background: var(--primary-color);
    --primary-button-hover-background: var(--lavender-700);
    --primary-button-text: var(--text-color-dark);
    --primary-button-hover-border: none;


    --secondary-button-background: var(--secondary-color);
    --secondary-button-hover-background: var(--mint-600);
    --secondary-button-text: var(--dark-text-color);
    --secondary-button-border: none;


    --font-family: 'Lato';

    --border-radius-small: 5px;
    --border-radius-normal: 10px;
    --border-radius-large: 20px;

    --shadow-offset: 4px;
    --shadow-blur: 8px;
    --float-offset: -4px;



    --small-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.24);

    --medium-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);

    --large-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
    0px 6px 6px rgba(0, 0, 0, 0.23);

    --tile-box-shadow: 1px 2px 8px -2px rgba(0, 0, 0, 0.3);

    --fab-size: 60px;

    --max-content-width: 1400px;
    --mobile-breakpoint: 1000px;

    --spacing-large: 60px;
    --spacing-normal: 20px;
    --spacing-small: 10px;
    --spacing-x-small: 5px;

    --font-size-small: 0.9rem;
    --font-size-normal: 1rem;
    --font-size-large: 1.4rem;
    --font-size-x-large: 2rem;
    --font-size-xx-large: 3rem;

    --heading-font-family: 'lato';


}

body {
    margin: 0;
    overflow-x: hidden;
    background: var(--background-color);
}
